@font-face {
    font-family: header;
    src: url("HelloPirates.otf");
}

@font-face {
    font-family: menu;
    src: url("Yomogi-Regular.ttf");
}

html {
    height: 100%;

}

body {
    height: 100%;
    background-color: #41729F;
    width: 100%;
    text-align: center;
    margin-top: 0;
    margin-left: 0;
}

a {
    text-decoration: none;
    color: indianred;
}

li {
    cursor: pointer;
}

.header {
    z-index: 10;
    position: fixed;
    color: #b59d1e;
    background-color: #274472;
    width: 100%;
    height: 30px;
    vertical-align: middle;
    padding-top: 10px;
    border-bottom: 5px solid #C3E0E5;
    font-family: header;
    font-size: 30px;

}

.left {
    padding-left: 10px;
    float: left;
}

.middle {
    font-size: 40px;
}

.right {
    padding-right: 10px;
    float: right;
}

.wrapper {
    display: block;
    color: #e3bd00;
    height: 90%;
    width: 100%;
    vertical-align: middle;
    padding-top: 50px;
}

.SideMenu {
    display: none;
    height: 100%;
    width: 0%;
    position: fixed;
    z-index: 5;
    background-color: #5885AF;
    text-align: left;
    border-right: 5px solid #C3E0E5;
}

.menuList {
    font-family: menu;
    list-style-type: none;
    font-size: 28px;
    padding: 15px;
}

.menuList li {
    margin: 0;
    color: #e3bd00;


}

.wrapper_tabs {
    height: 100%;
    float: right;
    width: 100%;
    color: white;
}

.main {

}

.card {
    display: inline-block;
    vertical-align: middle;
    width: 200px;
    height: 100px;
    background-color: #1b3866;
    color: yellow;
    border: 4px solid #e3bd00;
    outline: #1b3866 solid 5px;
    margin: 10px;
    font-family: menu;
    font-size: 30px;
    border-radius: 2px;
    box-shadow: 0px 0px 4px 5px #54acff;

}

.contact {
    display: none;
}

.big_card {
    font-size: 20px;
    font-family: menu;
    line-height: 40px;
    margin-top: 1%;
    width: 48%;
    background-color: #1c1c1c;
    display: inline-block;
    text-align: left;
    padding: 10px;
}

.modal {
    width: 100%;
    height: 100%;
    position: fixed;
    top: 0;
    display: none;
}

.logInModal {
    margin-top: 5%;
    border-radius: 50px;
    background-color: #a0a0a0;
    width: 30%;
    height: 40%;
    display: inline-block;
}

.close {
    color: red;
    text-align: right;
    font-size: 30px;
    padding-top: 4%;
}

.closeLogo {
    margin-right: 10%;
}

.loginInput {
    display: block;
    width: 50%;
    margin: 20px auto;
    height: 30px;
    background-color: #3b566e;
    border: 2px solid white;
    color: white;
    text-align: center;
    border-radius: 5px;

}

.submit {
    width: 15%;
    height: 30px;
}

.usernameInput {
    margin-top: 7%;
}

@media only screen and (max-width: 900px) {
    .logInModal {
        width: 70%;
    }

    .big_card {
        font-size: 15px;
        width: 100%;
    }

}

@media only screen and (max-width: 750px) {
    li {
        font-size: 25px;
    }

    ul {
        margin: 10px 0;
    }

}

@media only screen and (max-width: 700px) {
    li {
        font-size: 20px;
    }


}

@media only screen and (max-width: 600px) {
    .SideMenu {
        margin-top: -30px;
    }

    .header {
        height: 50px;
    }


    .wrapper {
        padding-top: 75px;
    }

    .logInModal {
        width: 100%;
    }

    li {
        font-size: 17px;
    }
}

@media only screen and (max-width: 500px) {
    .SideMenu {
        margin-top: -30px;
    }

    .menuList {
        font-size: 15px;
        padding: 5px 10px;
    }

    .menuList li {
        margin: 10px 0;


    }

    li {
        font-size: 13px;
    }


}

@media only screen and (max-width: 405px) {
    li {
        font-size: 10px;
    }

}

@media only screen and (max-width: 200px) {
    .SideMenu {
        font-size: 15px;
    }


}
